/* All color definitions will go here */

:root {
    --bg-paper: hsl(202 10% 95%);
    --bg-primary: hsl(202 87% 40% / 0.6);
    --bg-card: hsl(202 10% 95% / 0.85);
    --bg-emphasis: hsl(0 0% 60% / 0.8);
    --bg-emphasis-light: hsl(0 0% 80% / 0.8);
    --bg-emphasis-dark: hsl(0 0% 40% / 0.8);
    --bg-focus-light: hsl(0 0% 0% / 0.1);
    --bg-focus: hsl(0 0% 0% / 0.2);
    --primary: hsl(202 87% 50%);
    --primary-light: hsl(202 87% 70%);
    --primary-dark: hsl(202 87% 30%);
    --text: hsl(202 87% 2%);
    --text-contrast: hsl(202 87% 98%);
    --text-inactive: hsl(0 0% 40%);
    --text-error: hsl(0 100% 40%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-paper: hsl(202 10% 8%);
        --bg-primary: hsl(202 87% 45% / 0.6);
        --bg-card: hsl(202 10% 8% / 0.85);
        --bg-emphasis: hsl(0 0% 70% / 0.8);
        --bg-emphasis-light: hsl(0 0% 90% / 0.8);
        --bg-emphasis-dark: hsl(0 0% 50% / 0.8);
        --bg-focus-light: hsl(0 0% 100% / 0.1);
        --bg-focus: hsl(0 0% 100% / 0.2);
        --primary: hsl(202 87% 65%);
        --primary-light: hsl(202 87% 85%);
        --primary-dark: hsl(202 87% 45%);
        --text: hsl(202 87% 98%);
        --text-contrast: hsl(202 87% 2%);
        --text-inactive: hsl(0 0% 65%);
        --text-error: hsl(0 100% 65%);
        color: var(--text);
    }
}
