@import "font.css";
@import "main.css";
@import "colors.css";
@import "dashboard/contact-details.css";
@import "dashboard/contacts-list.css";

body {
    max-width: 100%;
    background-color: var(--bg-paper);
}

#snackbar {
    align-items: center;
    backdrop-filter: blur(14px);
    background-color: var(--bg-focus-light);
    border-radius: 1rem;
    bottom: 1rem;
    color: var(--text);
    font-size: 1.25rem;
    left: 1rem;
    padding: 1rem;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: 16rem;
}

#snackbar.hidden {
    opacity: 0;
    left: -20rem;
}


#appbar {
    overflow: hidden;
}

#appbarContent {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin-top: -3rem;
    padding: 0 1rem;
    position: relative;
    user-select: none;
    color: var(--text-contrast);
}

#backgroundImage {
    animation: slide 120s linear infinite;
    background-color: var(--bg-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    width: 7680px;
    height: 3rem;
}

#appbarContentLeft {
    align-items: center;
    color: var(--text);
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

#appbarContentRight {
    align-items: center;
    color: var(--text);
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

#logoutButton {
    padding-right: 0.2rem;
}

#dashboard > section {
    margin: 2rem;
}

#dashboard {
    display: flex;
    overflow-x: hidden;
    height: calc(100vh - 3rem);
}

@media only screen and (max-width: 600px) {
    #dashboard > section {
        margin: 1rem;
    }

    #appbarContentLeft > h1 {
        display: none;
    }

    #appbarContentRight > * {
        font-size: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    #logoIcon {
        filter: invert(100%);
    }

    #logoutButton {
        filter: invert(100%);
    }
}


