@import "font.css";
@import "main.css";

body {
    background-color: var(--bg-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.02' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
}

#authCard {
    background-color: var(--bg-card);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem var(--bg-paper);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem 4rem;
    width: 70%;
    max-width: 24rem;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

#authCard h1 {
    font-size: 2.5rem;
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
}

#loginResult {
    color: var(--text-error);
    font-weight: bold;
    margin-bottom: -2rem;
    opacity: 0;
    transition: all 0.2s ease-in;
}

#loginResult.shown {
    margin-bottom: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
}

#registerInputs {
    flex-direction: row;
    margin-bottom: -3rem;
}

#authToggle {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

#registerInputs {
    align-items: center;
    display: flex;
    gap: 1rem;
    opacity: 0;
    visibility: collapse;
    width: 100%;
    transition: opacity 0.1s ease-in-out, margin-bottom 0.2s ease-in-out;
}

#emailInputHint, #passwordInputHint {
    align-self: start;
    color: var(--text-error);
    font-size: 0.9rem;
    margin-top: -2rem;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

#emailInputHint.shown, #passwordInputHint.shown {
    opacity: 1;
    margin-top: -0.5rem;
}

#registerButton, #loginButton {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

#registerButton {
    display: none;
}

@media only screen and (max-width: 600px) {
    #authCard {
        padding: 2rem 2rem;
    }

    #authCard h1 {
        font-size: 1.8rem;
        margin-block-start: 0;
        margin-block-end: 0.5rem;
    }

    #registerInputs {
        flex-direction: column;
        margin-bottom: -6rem;
    }
}

@media (prefers-color-scheme: dark) {
    #logo {
        filter: invert(100%);
    }
}


