@import "colors.css";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
    }
}

/*
 * Button Element
 */

/* Remove default styling of all buttons */
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button {
    border: 0;
    cursor: pointer;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--text-contrast);
    border-radius: 0.5rem;
    background-color: var(--primary);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.button:hover, .button:focus-visible {
    background-color: var(--primary-dark);
    transform: scale(1.02);
}

.button:focus-visible {
    outline: 4px solid var(--bg-focus-light);
}

.button:active {
    transform: scale(0.98);
    transition: all 0.1s ease-out;
}

/*
 * Icon Button Element
 */

.iconButton {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.iconButton:hover, .iconButton:focus-visible {
    transform: scale(1.04);
    background-color: var(--bg-focus);
}

.iconButton:hover > img, .iconButton:focus-visible > img, .iconButton:active > img {
    transform: scale(1.04);
}

.iconButton:focus-visible {
    outline: 4px solid var(--bg-focus-light);
}

.iconButton:active {
    transform: scale(0.96);
    background-color: var(--bg-focus);
    transition: all 0.1s ease-out;
}

/*
 * Toggle Button Element
 */

.toggleButtonGroup {
    display: flex;
    font-size: 1rem;
    color: var(--primary-light);
    border: var(--text-inactive) 1px solid;
    border-radius: 0.5rem;
}

.toggleButtonGroup > * {
    width: 100%;
    cursor: pointer;
    padding: 0.4rem 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.toggleButtonGroup > *:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

.toggleButtonGroup > *:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.toggleButtonGroup > *:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.toggleButtonGroup > *:hover {
    background-color: var(--primary);
}

.toggleButtonGroup > .active, .active:hover {
    color: var(--text);
    background-color: var(--primary-light);
}

@media (prefers-color-scheme: dark) {
    .toggleButtonGroup > .active, .active:hover {
        background-color: var(--primary-dark);
    }
}


/*
 * Text Field Element
 */

.textField {
    color: var(--text);
    background-color: var(--bg-focus-light);
    border: none;
    border-radius: 0.5rem;
    outline: var(--text-inactive) 1px solid;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    width: 95%;
    transition: all 0.2s ease-in-out;
}

.textField:focus.invalid, .textField.invalid {
    outline: var(--text-error) 1px solid;
}

.textField:focus {
    background-color: var(--bg-paper);
    outline: var(--primary) 1px solid;
}

/*
 * Divider Element
 */

hr.vertical {
    border: 0;
    margin: 0;
    border-left: 2px solid var(--bg-focus-light);
    height: 100%;
}

/*
 * Scrollbar
 */

::-webkit-scrollbar {
    width: 6px; /* vertical scrollbar */
    height: 6px; /* horizontal scrollbar */
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1rem;
}

/*
 * Keyframes
 */

@keyframes slide {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1920px);
    }
}
